@media (prefers-reduced-motion: no-preference) {
    .SpinningImage {
        animation: Loading-Spinning infinite 1s linear;
        display: block;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -60px;
        pointer-events: none;
    }
}

@keyframes Loading-Spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}